@font-face {
    font-family: 'junction';
    src: url('../fonts/junction-webfont.eot');
    src: url('../fonts/junction-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/junction-webfont.woff') format('woff'),
         url('../fonts/junction-webfont.ttf') format('truetype'),
         url('../fonts/junction-webfont.svg#junction_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    min-height: 100%;
    background: #F2EFDA;
    font-family: 'junction';
}
/*-----------container-------*/
#container {
    float:left;
    position: relative;
    width: 75%;
    min-height: 100%;
}
/*-------------tree----------*/
#tree_container{
    min-height: 100%;
    width: 20%;
    position: relative;
    float: left;
    background: #CDD5E2;
    border-radius: 3px;
}
#tree_container p{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin:0;
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
    font-variant: small-caps;
    background: #0E2244;
    color: #F2D1C2;
}
#tree{
    padding: 2px 0 0 3px;
    //height: 100%;
}
/*------form_container--*/
#form_container label
{
width: 4em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block
}

#form_container input
{
color: #781351;
background: #fee3ad;
border: 1px solid #781351
}


#form_container fieldset
{
border: 1px solid #781351;
//width: 20em
}

#form_container legend
{
color: #fff;
background: #ffa20c;
border: 1px solid #781351;
padding: 2px 6px
}
#form_container  p{
    font-weight: bold;
}
#form_container{
    display: none;
}
/*--------------*/
.set:hover{
	cursor: pointer;
}
.tooltip {
    background: url(../images/arrow.gif) no-repeat;
    font-size: 14px;
    height: 40px;
    width:160px;
    padding:10px;
    color:#000;
}
/*------form_container--*/
#table_container{
	display: none;
}
#statusbar{
    position: relative;
    clear: both;
    width: 30%;
    height: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 70%;
    background: rgba(150,150,150,0.5);
}
/*------simple-modal---------*/
#simplemodal-container {
    min-width: 600px;
}
#simplemodal-container a.modalCloseImg {
	background:url(../images/x.png) no-repeat; /* adjust url as required */
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}
/*-----jquery tools-----*/
ul.tabs {
    margin:0 !important;
    padding:0;
    height:30px;
    border-bottom:1px solid #666;
}
/* single tab */
ul.tabs li {
    float:left;
    padding:0;
    margin:0;
    list-style-type:none;
}
/* link inside the tab. uses a background image */
ul.tabs a {
    float:left;
    font-size:13px;
    display:block;
    padding:5px 30px;
    text-decoration:none;
    border:1px solid #666;
    border-bottom:0px;
    height:18px;
    background-color:#efefef;
    color:#777;
    margin-right:2px;
    position:relative;
    top:1px;
    outline:0;
    -moz-border-radius:4px 4px 0 0;
}
ul.tabs a:hover {
    background-color:#F7F7F7;
    color:#333;
}
/* selected tab */
ul.tabs a.current {
    background-color:#ddd;
    border-bottom:1px solid #ddd;
    color:#000;
    cursor:default;
}

/* tab pane */
.panes div {
    display:none;
    border:1px solid #666;
    border-width:0 1px 1px 1px;
    min-height:150px;
    padding:15px 20px;
    background-color:#ddd;
}

