/*------form_container--*/

#form_container{
    position: relative;
    width: 500px;
    height: 400px;
    margin: 50px auto 10px;
}
/*#form_container label
{
width: 4em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block
}

#form_container input
{
color: #781351;
background: #fee3ad;
border: 1px solid #781351
}
#form_container fieldset
{
border: 1px solid #781351;
//width: 20em
}

#form_container legend
{
color: #fff;
background: #ffa20c;
border: 1px solid #781351;
padding: 2px 6px
}
#form_container  p{
    font-weight: bold;
}*/
/*-----jquery tools-----*/
ul.tabs {
    margin:0 !important;
    padding:0;
    height:30px;
    border-bottom:1px solid #666;
}
/* single tab */
ul.tabs li {
    float:left;
    padding:0;
    margin:0;
    list-style-type:none;
}
/* link inside the tab. uses a background image */
ul.tabs a {
    float:left;
    font-size:13px;
    display:block;
    padding:5px 30px;
    text-decoration:none;
    border:1px solid #666;
    border-bottom:0px;
    height:18px;
    background-color:#efefef;
    color:#777;
    margin-right:2px;
    position:relative;
    top:1px;
    outline:0;
    -moz-border-radius:4px 4px 0 0;
}
ul.tabs a:hover {
    background-color:#F7F7F7;
    color:#333;
}
/* selected tab */
ul.tabs a.current {
    background-color:#ddd;
    border-bottom:1px solid #ddd;
    color:#000;
    cursor:default;
}

/* tab pane */
.panes div {
    display:none;
    border:1px solid #666;
    border-width:0 1px 1px 1px;
    min-height:150px;
    padding:15px 20px;
    background-color:#ddd;
}
.error_message{
    color: red;
    font-size: 12pt;
    font-family: Verdana;
    font-variant: all-small-caps;
}